:root
{
    --cell-size: 2rem;
}

body
{
    display: flex;
    padding: 0;
    margin: 0;
    text-align: center;
}

h1
{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    margin-top: 1.5%;
    margin-bottom: 0.5%;
}

nav
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

table
{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lexend', sans-serif;
    border-spacing: 0;
}

td
{
    transition: 0.75s;
    align-items: center;
    justify-content: center;
    height: var(--cell-size);
    width: var(--cell-size);
    font-size: 1.5rem;
    border: 0.05rem black solid;
    margin: 0;
    background-color: white;
}

input
{
    height: var(--cell-size);
    width: var(--cell-size);
    text-align: center;
    border: none;
    font-weight: 700;
    font-size: 1.5rem;
    background: transparent;
}

.diffButton
{
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 2rem;
    border-style: dotted;
    float: left;
    margin: 1%;
    margin-top: 0.01%;
    margin-bottom: 0.01%;
    transition: 0.75s;
}

.diffButton:hover
{
    cursor: pointer;
}

.opButton
{
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 2rem;
    border: black dotted;
    float: left;
    margin: 1%;
    margin-top: 0.01%;
    margin-bottom: 0.01%;
    font-weight: 600;
    color: white;
    transition: 0.75s;
}

.opButton:hover
{
    cursor: pointer;
}

#checkButton
{
    background-color: rgb(64, 133, 64);
    min-width: 10%;
}

#resetButton
{
    background-color: rgb(146, 70, 70);
    min-width: 10%;
}

#main
{
    margin: 0;
    font-family: 'Raleway', sans-serif;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
}

table
{
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}